@model KursachBD.Models.ViewModel.ProfileViewModel

@{
    ViewData["Title"] = "Index";
    int count = 0;
    var list = new List<Dictionary<string, string>>();
}
<link rel="stylesheet" href="~/css/Star.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    function sendRating(starId, Id)
    {
        fetch("https://localhost:44360/APIRating/Rating/" + "@User.Identity.Name" + "?value=" + starId+"&filmId="+ Id, {
        credentials: 'same-origin',
        method: 'POST',
        'Content-Type': 'application/json'
        }).then(response => response.status)
            .then(result => console.log(result.toString()))
    }

      function sendDiscription(temp,Id)
      {
          var text = document.getElementById("Text+" + temp);
          fetch("https://localhost:44360/APIUser/UpdateDiscription/" + "@User.Identity.Name" + "?text=" + text.value + "&filmId=" + Id, {
        credentials: 'same-origin',
        method: 'POST',
        'Content-Type': 'application/json'
        }).then(response => response.status)
            .then(result => console.log(result.toString()))
    }

     function sendFilm(Id)
     {
         var selected = document.getElementById("mySelect+" + Id).value;

         fetch("https://localhost:44360/APIUser/AddFilm/" + "@User.Identity.Name" + "?filmId=" + Id + "&status=" + selected, {
        credentials: 'same-origin',
        method: 'POST',
        'Content-Type': 'application/json'
        }).then(response => response.status)
            .then(result => console.log(result.toString()))
    }

    function LikeFilm(id, filmId)
    {
        if (id === 1)
        {
            var op = document.getElementById("1+" + filmId);
            op.selected = "selected";
        }
         if (id === 2)
        {
             var op = document.getElementById("2+" + filmId);
             op.selected = "selected";
        }
         if (id === 3)
        {
            var op = document.getElementById("3+" + filmId);
            op.selected = "selected";
        }

    }

    function LoadPage()
    {
        var e = document.getElementById("List");
        var strUser = e.options[e.selectedIndex].text;

        window.location.href = '/Profile/Index?param=' + strUser;
    }


</script>

<div style="margin-bottom:15px" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <select id="List" class="form-control text-secondary custom-select-sm">
                    <option id="10">▤ Все</option>
                    <option id="11">⧗ Хочу смотреть</option>
                    <option id="12">★ Понравившиeся</option>
                    <option id="13">✓ Просмотренные</option>
                </select>
                <script>
                    function Test()
                    {
                        document.getElementById(@ViewData["id"]).setAttribute("selected", "true");
                    }

                    document.addEventListener("load", Test());

                </script>
                <span class="input-group-btn ">
                    <button onclick="LoadPage()" class="btn btn-secondary btn-sm" type="button" tabindex="-1">Показать</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Заметка</th>
                        <th scope="col">Оценка</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserStar)
                    {
                        <tr>
                            <td class="" style="text-align: center;">
                                <a style="text-decoration: none;color: #000 !important;" href="/Films/Film/@item.UserFilm.Film.Id">
                                    <img class="img-fluid" src="@item.UserFilm.Film.Photo" />
                                    @item.UserFilm.Film.Name
                                </a>

                                <div class="input-group">
                                    <select style="width:15em" onchange="sendFilm(@item.UserFilm.Film.Id)" id="mySelect+@item.UserFilm.Film.Id" class="form-control text-secondary custom-select-sm">
                                        <option id="1+@item.UserFilm.Film.Id">⧗ Просмотреть позже</option>
                                        <option id="2+@item.UserFilm.Film.Id">★ Понравившийся</option>
                                        <option id="3+@item.UserFilm.Film.Id">✓ Смотрел</option>
                                    </select>
                                </div>
                            </td>
                            <script>
                                    document.addEventListener("load", LikeFilm(@item.UserFilm.StatusViewId, @item.UserFilm.FilmId));
                            </script>
                            <td>
                                <div class="container-fluid">
                                    <form>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <span>
                                                    <textarea id="Text+@item.UserFilmId" style="width:35em" class="form-control" rows="8">@item.UserFilm.Discription</textarea>
                                                </span>
                                            </div>
                                            <button onclick="sendDiscription(@item.UserFilmId, @item.UserFilm.FilmId)" type="button" class="btn btn-outline-success">Редактировать</button>
                                        </div>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <p>
                                    <b>Оценка:</b>
                                    <br />
                                    @item.UserFilm.Film.Reting.AllStar
                                </p>
                                <p>
                                    <b>Оценка пользователей:</b>
                                    <br />
                                    @item.UserFilm.Film.Reting.UserStar
                                </p>
                                <p>
                                    <b>Ваша оценка:</b>
                                </p>
                                @{
                                    list.Add(new Dictionary<string, string>());
                                    list[count].Add("checked" + item.UserFilm.UserStars
                                        .Where(e => e.UserFilm.FilmId == item.UserFilm.Film.Id).FirstOrDefault().Star.ToString() + item.UserFilm.Film.Id.ToString(), "checked");
                                }
                                <div style="width:14em;" class="rating">
                                    <input @{var a = list[count].ContainsKey("checked10" + item.UserFilm.Film.Id.ToString()) ? list[count]["checked10" + item.UserFilm.Film.Id.ToString()] : "";} @a class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star10+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="10" /><label for="star10+@item.UserFilm.Film.Id)" title="Rocks!">5 stars</label>
                                    <input @{var a1 = list[count].ContainsKey("checked9" + item.UserFilm.Film.Id.ToString())?list[count]["checked9"+item.UserFilm.Film.Id.ToString()]:"";} @a1 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star9+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="9" /><label for="star9+@item.UserFilm.Film.Id)" title="Rocks!">4 stars</label>
                                    <input @{var a2 = list[count].ContainsKey("checked8" + item.UserFilm.Film.Id.ToString())?list[count]["checked8"+item.UserFilm.Film.Id.ToString()]:"";} @a2 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star8+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="8" /><label for="star8+@item.UserFilm.Film.Id)" title="Pretty good">3 stars</label>
                                    <input @{var a3 = list[count].ContainsKey("checked7" + item.UserFilm.Film.Id.ToString())?list[count]["checked7"+item.UserFilm.Film.Id.ToString()]:"";} @a3 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star7+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="7" /><label for="star7+@item.UserFilm.Film.Id)" title="Pretty good">2 stars</label>
                                    <input @{var a4 = list[count].ContainsKey("checked6" + item.UserFilm.Film.Id.ToString())?list[count]["checked6"+item.UserFilm.Film.Id.ToString()]:"";} @a4 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star6+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="6" /><label for="star6+@item.UserFilm.Film.Id)" title="Normal">1 star</label>
                                    <input @{var a5 = list[count].ContainsKey("checked5" + item.UserFilm.Film.Id.ToString())?list[count]["checked5"+item.UserFilm.Film.Id.ToString()]:"";} @a5 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star5+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="5" /><label for="star5+@item.UserFilm.Film.Id)" title="Normal">5 stars</label>
                                    <input @{var a6 = list[count].ContainsKey("checked4" + item.UserFilm.Film.Id.ToString())?list[count]["checked4"+item.UserFilm.Film.Id.ToString()]:"";} @a6 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star4+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="4" /><label for="star4+@item.UserFilm.Film.Id)" title="Kinda bad">4 stars</label>
                                    <input @{var a7 = list[count].ContainsKey("checked3" + item.UserFilm.Film.Id.ToString())?list[count]["checked3"+item.UserFilm.Film.Id.ToString()]:"";} @a7 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star3+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="3" /><label for="star3+@item.UserFilm.Film.Id)" title="Kinda bad">3 stars</label>
                                    <input @{var a8 = list[count].ContainsKey("checked2" + item.UserFilm.Film.Id.ToString())?list[count]["checked2"+item.UserFilm.Film.Id.ToString()]:"";} @a8 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star2+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="2" /><label for="star2+@item.UserFilm.Film.Id)" title="Bad">2 stars</label>
                                    <input @{var a9 = list[count].ContainsKey("checked1" + item.UserFilm.Film.Id.ToString())?list[count]["checked1"+item.UserFilm.Film.Id.ToString()]:"";} @a9 class="ratingInput" onclick="sendRating(this.value,@item.UserFilm.Film.Id)" type="radio" id="star1+@item.UserFilm.Film.Id)" name="rating+@item.UserFilm.Film.Id.ToString()" value="1" /><label for="star1+@item.UserFilm.Film.Id)" title="Bad">1 star</label>
                                </div>
                                @{count++;}
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>


