@model KursachBD.Models.ViewModel.ListFilmModel

@addTagHelper "*, KursachBD"

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        @foreach (var i in Model.ListFilms)
        {
        <div class="col-3" style="padding-bottom:20px">
            <a style="text-decoration: none;color: #000 !important;" href="/Films/Film/@i.Id">

                <div class="card">
                    <div class="card-header">
                        <img class="card-img" src="@i.Photo" />
                    </div>
                    <div class="card-body">
                        @i.Name
                    </div>
                    <div class="card-footer">
                        @i.Year г.&nbsp;&nbsp;&nbsp;&nbsp; @i.Country
                        <hr />
                        <p style="margin-bottom:0px">Рейтинг:&nbsp; @i.Star</p>
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-btn ">
                            <button onclick="sendFilm(@i.Id)" class="btn btn-secondary btn-sm" type="button" tabindex="-1">Добавить</button>
                        </span>
                        <select id="mySelect" class="form-control text-secondary custom-select-sm">
                            <option id="1" selected class="active">⧗ Просмотреть позже</option>
                            <option id="2">★ Понравившийся</option>
                            <option id="3">✓ Смотрел</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row">
        @if (Model.PageViewModel.HasNextPage && Model.PageViewModel.HasPreviousPage)
        {
            <div class="col-sm-4"></div>
        }
        else
        {
            <div class="col-sm-5"></div>
        }
        <div class="col-sm-4">
            <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
        </div>
    </div>
</div>

<script>
     function sendFilm(Id)
     {
         var selected = $("#mySelect :selected").text();
         var img = document.getElementById("ImgS"); 

         fetch("https://localhost:44360/APIUser/AddFilm/" + "@User.Identity.Name" + "?filmId=" + Id + "&status=" + selected, {
        credentials: 'same-origin',
        method: 'POST',
        'Content-Type': 'application/json'
        }).then(response => response.status)
            .then(result => img.style.visibility="visible")
    }
</script>